/**
 * CONTENIDO
 *
 * FORMATO GENERAL
 * Global...............Formato aplicado a elementos que afectan a todas las páginas.
 *
 * CABECERA Y MENUL PRINCIPAL
 * Logo y menu principal...............Estilo del logo y barra de navegación principal.
 *
 * PAGINAS
 * * PAGINA ACTIVIDADES........Formato css de los elementos que componen la página Activiades.
 * * PAGINA PORTADA..................Formato css de los elementos que componen la página Portada.
 * * PAGINA PARTICIPANTES........Formato css de los elementos que componen la página Participantes. 
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * CONTAINERS
 * Grid.................Estilo grid con la directiva @supports.
 * Footer...............Estilo del footer con la directiva @container.
 * Lista-participantes..Estilo de la lista de participantes con la directiva @container.
 * Imagen...............Estilo de la imagen con la directiva @container y @layer.
 *
 */

/* PÁGINA PRINCIPAL */
.main--portada {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 75vh;
  background-image: url(../images/tennis-1381230_1280_1.jpg);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;

  div {
    max-width: 75%;
    margin: 0 auto;
  }
}

.etiqueta {
  background-color: #d1d1dd9e;
  backdrop-filter: blur(1px);
  border-radius: 10px;
}

.footer--portada {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* PAGINA PRINCIPAL CON GRID */

@supports (display: grid) {
  .body--grid {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
      'header'
      'portada'
      'portada'
      'footer';
    height: 100vh;
  }

  .main--portada {
    grid-area: 1 / 1 / 4 / 2;
    position: inherit;
    text-align: center;
    z-index: 1;
  }

  .header--portada {
    grid-area: header;
    position: inherit;
    z-index: 2;
  }

  .footer--portada {
    position: inherit;
    grid-area: footer;
    transform: translateX(0%);
  }
}
