@use 'sass:color';

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-serif: 'Georgia', 'Times New Roman', serif;

$secondary-corporate: rgb(32, 53, 172);
$primary-corporate: rgb(172, 78, 32);


$mqMinWidth: 420px;

$link-color: rgb(172, 78, 32);
$link-hover-color: rgb(32, 53, 172);
$link-visited-color: rgb(172, 78, 32);


$btn-color-text-emphasis: #fff;





